# Transform population datasets into 2 informative tables in a SQLite3 file

### Annual Population Estimates for Major US Metropolitan Areas

In [14]:
import glob, os, csv, pandas as pd, sqlite3

In [15]:
# Create pandas dataframe from the most relevant columns of metropolitan population data, data ranging from 2010-2017
# Source: https://www.census.gov/data/datasets/2017/demo/popest/total-metro-and-micro-statistical-areas.html
csvFile = 'metroPop.csv'
df_metro = pd.read_csv(csvFile, skiprows=1, usecols=[6, 9, 10, 11, 12, 13, 14, 15, 16], encoding='latin-1')

df_metro.columns = ['GEO_Name', 'pop_2010', 'pop_2011', 'pop_2012', 
                    'pop_2013', 'pop_2014', 'pop_2015', 'pop_2016', 'pop_2017']

In [16]:
df_metro

,GEO_Name,pop_2010,pop_2011,pop_2012,pop_2013,pop_2014,pop_2015,pop_2016,pop_2017
0,United States,309338421,311644280,313993272,316234505,318622525,321039839,323405935,325719178
1,In metropolitan statistical area,263093682,265426994,267838295,270139257,272573557,275038310,277418733,279698020
2,"Abilene, TX Metro Area",165583,166633,167452,167426,168143,169478,169733,170219
3,"Akron, OH Metro Area",703037,703152,702066,703085,704311,703530,702556,703505
4,"Albany, GA Metro Area",157596,157875,157369,156025,155293,153686,152440,151434
5,"Albany, OR Metro Area",116878,118112,118242,118388,119025,120210,122700,125047
6,"Albany-Schenectady-Troy, NY Metro Area",871159,873206,875586,878628,880140,881551,882801,886188
7,"Albuquerque, NM Metro Area",889570,896838,900368,902083,902069,903489,906877,910726
8,"Alexandria, LA Metro Area",154107,154374,154436,154639,154633,154272,154394,153984
9,"Allentown-Bethlehem-Easton, PA-NJ Metro Area",821963,824980,826634,826533,829625,832011,835233,840550
10,"Altoona, PA Metro Area",127030,126989,126593,125977,125502,124818,123927,123457
11,"Amarillo, TX Metro Area",252674,255992,257777,258847,260662,261508,263036,264925
12,"Ames, IA Metro Area",89627,90797,91730,93462,95310,96348,96816,97502
13,"Anchorage, AK Metro Area",383108,388012,392201,396934,398400,399082,401499,400888
14,"Ann Arbor, MI Metro Area",345515,349102,351333,354714,358635,361815,364752,367627
15,"Anniston-Oxford-Jacksonville, AL Metro Area",118466,117785,117219,116482,115941,115505,114980,114728
16,"Appleton, WI Metro Area",225940,227552,228676,229973,231595,233131,234302,236126
17,"Asheville, NC Metro Area",425340,428230,431145,436077,440039,444952,450914,456145
18,"Athens-Clarke County, GA Metro Area",193446,194508,196169,197731,198650,202824,205421,209271
19,"Atlanta-Sandy Springs-Roswell, GA Metro Area",5303327,5373016,5451561,5517034,5605117,5702331,5795723,5884736
20,"Atlantic City-Hammonton, NJ Metro Area",274761,275107,275732,275954,274842,273088,270830,269918
21,"Auburn-Opelika, AL Metro Area",140806,144117,148318,151445,154211,156740,158983,161604
22,"Augusta-Richmond County, GA-SC Metro Area",566492,570777,576149,579670,583198,589688,594889,600151
23,"Austin-Round Rock, TX Metro Area",1727495,1780610,1834566,1883528,1942255,2000784,2060558,2115827
24,"Bakersfield, CA Metro Area",841116,848767,855237,864014,871895,879607,885086,893119
25,"Baltimore-Columbia-Towson, MD Metro Area",2715503,2734969,2756285,2771586,2784424,2795036,2801028,2808175
26,"Bangor, ME Metro Area",153841,153713,153372,153075,152941,151934,151515,151957
27,"Barnstable Town, MA Metro Area",215877,215340,214787,214566,214279,213773,213440,213444
28,"Baton Rouge, LA Metro Area",804359,808105,813476,819304,824923,829719,835596,834159
29,"Battle Creek, MI Metro Area",135941,135039,134605,134572,134602,134154,134178,134128
...,...,...,...,...,...,...,...,...,...
952,"West Point, MS Micro Area",20547,20480,20383,20345,20135,19989,19840,19640
953,"Whitewater-Elkhorn, WI Micro Area",102197,102684,102945,102871,103266,102592,102775,103082
954,"Williston, ND Micro Area",22586,24395,26733,29599,32130,35301,34195,33349
955,"Willmar, MN Micro Area",42235,42198,42374,42482,42474,42562,42622,42743
956,"Wilmington, OH Micro Area",41913,41895,41803,41844,41788,41822,41881,42009
957,"Wilson, NC Micro Area",81299,81192,81451,81277,81122,81393,81433,81671
958,"Winnemucca, NV Micro Area",16592,16667,17107,17396,17273,17072,16873,16826
959,"Winona, MN Micro Area",51435,51354,51342,51337,51054,50822,50872,50873
960,"Wisconsin Rapids-Marshfield, WI Micro Area",74812,74649,74322,73919,73578,73316,73196,73126
961,"Woodward, OK Micro Area",19995,20099,20656,21224,21518,21575,20924,20459
962,"Wooster, OH Micro Area",114391,114620,114976,115282,115776,116055,116422,116038
963,"Worthington, MN Micro Area",21424,21610,21726,21795,21702,21811,22016,21944
964,"Yankton, SD Micro Area",22436,22499,22580,22649,22683,22682,22626,22662
965,"Zanesville, OH Micro Area",86215,86240,85788,85610,85859,86119,85929,86149
966,"Zapata, TX Micro Area",14087,14223,14269,14393,14396,14516,14449,14322
967,Puerto Rico,3721525,3678732,3634488,3593077,3534874,3473177,3406520,3337177
968,In metropolitan statistical area,3563233,3521556,3478575,3438138,3381789,3322122,3257800,3190926
969,"Aguadilla-Isabela, PR Metro Area",338935,335104,330765,326663,321434,315575,309215,302615
970,"Arecibo, PR Metro Area",199220,197385,195505,194020,191132,188275,184987,181643
971,"Guayama, PR Metro Area",84080,82827,81939,81445,80262,78980,77630,76166
972,"Mayagüez, PR Metro Area",106043,104221,102327,100570,98315,96133,93873,91557
973,"Ponce, PR Metro Area",349413,343424,337264,331586,324677,317000,309016,300843
974,"San Germán, PR Metro Area",137645,136433,135215,133974,132227,130274,128264,126097
975,"San Juan-Carolina-Caguas, PR Metro Area",2347897,2322162,2295560,2269880,2233742,2195885,2154815,2112005
976,In micropolitan statistical area,131021,130246,129255,128540,127115,125551,123705,121746
977,"Adjuntas, PR Micro Area",19472,19297,19116,19019,18798,18560,18276,17971
978,"Coamo, PR Micro Area",40576,40569,40470,40412,40161,39875,39459,39071
979,"Coco, PR Micro Area",31042,30761,30411,30176,29740,29286,28777,28216
980,"Jayuya, PR Micro Area",16641,16419,16163,15927,15654,15305,14976,14625
981,"Santa Isabel, PR Micro Area",23290,23200,23095,23006,22762,22525,22217,21863

In [17]:
# SQLite3 file name and table name to be written to.
sqlite_file = 'popData'
tbl1 = 'popMetropolitan'

# Connection to SQLite3. 
conn = sqlite3.connect(sqlite_file)
c = conn.cursor()

# Write pandas dataframe to SQL database.
# Do not write the index from the pandas dataframes as a column. Can change index=True to write the column.
# If the table already exists in the database, the table is replaced with the current data. Can change this value 'fail' or 'append'.
df_metro.to_sql(tbl1, conn, if_exists='replace', index=False)

### Annual Unemployment Rate and Population Size at US County Level

#### County Unemployment Data

In [18]:
# Identify and store path to the location of the xlsx files
# Source: https://www.bls.gov/lau/#tables
path = os.getcwd()
all_files = glob.glob(os.path.join(path, "County_Unemployment/*.xlsx"))

In [19]:
# Create pandas dataframe from the most relevant columns of unemployment data, data ranging from 2010-2017
df_unemp_county = pd.concat((pd.read_excel(f, header=None , usecols='B:E,J', dtype={1:object}, skiprows=6, skipfooter=3) for f in all_files))

# Combine GEO state code with county code in one column. This value will be used as an identifier between dataframes.
df_unemp_county['GEO_id'] = df_unemp_county[0].map(str) + df_unemp_county[1].map(str)
df_unemp_county = df_unemp_county.drop([0, 1], axis=1)
df_unemp_county.columns = ["GEO_Name", "Year", "Unemployment_Rate", "GEO_id"]

In [20]:
df_unemp_county

                         GEO_Name  Year  Unemployment_Rate GEO_id
0              Autauga County, AL  2017                3.9   1001
1              Baldwin County, AL  2017                4.0   1003
2              Barbour County, AL  2017                5.9   1005
3                 Bibb County, AL  2017                4.4   1007
4               Blount County, AL  2017                4.0   1009
5              Bullock County, AL  2017                4.9   1011
6               Butler County, AL  2017                5.5   1013
7              Calhoun County, AL  2017                4.9   1015
8             Chambers County, AL  2017                4.1   1017
9             Cherokee County, AL  2017                4.1   1019
10             Chilton County, AL  2017                4.0   1021
11             Choctaw County, AL  2017                6.4   1023
12              Clarke County, AL  2017                8.5   1025
13                Clay County, AL  2017                4.4   1027
14            Cleburne County, AL  2017                4.5   1029
15              Coffee County, AL  2017                4.4   1031
16             Colbert County, AL  2017                5.2   1033
17             Conecuh County, AL  2017                6.1   1035
18               Coosa County, AL  2017                4.6   1037
19           Covington County, AL  2017                5.2   1039
20            Crenshaw County, AL  2017                4.5   1041
21             Cullman County, AL  2017                3.7   1043
22                Dale County, AL  2017                4.4   1045
23              Dallas County, AL  2017                7.5   1047
24              DeKalb County, AL  2017                4.5   1049
25              Elmore County, AL  2017                3.6   1051
26            Escambia County, AL  2017                5.0   1053
27              Etowah County, AL  2017                4.6   1055
28             Fayette County, AL  2017                4.7   1057
29            Franklin County, AL  2017                4.2   1059
...                           ...   ...                ...    ...
3189        Maunabo Municipio, PR  2014               21.4  72095
3190       Mayaguez Municipio, PR  2014               17.1  72097
3191           Moca Municipio, PR  2014               18.5  72099
3192        Morovis Municipio, PR  2014               18.5  72101
3193        Naguabo Municipio, PR  2014               15.2  72103
3194      Naranjito Municipio, PR  2014               16.7  72105
3195       Orocovis Municipio, PR  2014               19.0  72107
3196       Patillas Municipio, PR  2014               23.8  72109
3197       Penuelas Municipio, PR  2014               21.1  72111
3198          Ponce Municipio, PR  2014               15.4  72113
3199   Quebradillas Municipio, PR  2014               18.5  72115
3200         Rincon Municipio, PR  2014               20.0  72117
3201     Rio Grande Municipio, PR  2014               11.9  72119
3202  Sabana Grande Municipio, PR  2014               18.8  72121
3203        Salinas Municipio, PR  2014               26.4  72123
3204     San German Municipio, PR  2014               18.0  72125
3205       San Juan Municipio, PR  2014                8.1  72127
3206    San Lorenzo Municipio, PR  2014               15.6  72129
3207  San Sebastian Municipio, PR  2014               23.2  72131
3208   Santa Isabel Municipio, PR  2014               19.8  72133
3209       Toa Alta Municipio, PR  2014                9.2  72135
3210       Toa Baja Municipio, PR  2014               10.2  72137
3211  Trujillo Alto Municipio, PR  2014                7.8  72139
3212         Utuado Municipio, PR  2014               18.6  72141
3213      Vega Alta Municipio, PR  2014               13.8  72143
3214      Vega Baja Municipio, PR  2014               16.2  72145
3215        Vieques Municipio, PR  2014               14.0  72147
3216       Villalba Municipio, PR  2014               21.8  72149
3217        Yabucoa Municipio, PR  2014               21.8  72151
3218          Yauco Municipio, PR  2014               21.5  72153

[25752 rows x 4 columns]

In [21]:
# Columns to be merged need to be the same datatype. 
df_unemp_county['GEO_id'] = df_unemp_county['GEO_id'].apply(pd.to_numeric)
df_unemp_county.dtypes

GEO_Name              object
Year                   int64
Unemployment_Rate    float64
GEO_id                 int64
dtype: object

#### County Population Data

In [2]:
# Create pandas dataframe from the most relevant columns of county population data, data ranging from 2010-2017
# Source: https://www.census.gov/data/datasets/2017/demo/popest/counties-total.html
csv_file_county = 'countyPop.csv'
df_county = pd.read_csv(csv_file_county, encoding='latin-1')

df_county = df_county.drop(['GEO.id', 'GEO.display-label', 'rescen42010', 'resbase42010'], axis=1)
df_county.columns = ['GEO_id', '2010', '2011', '2012', 
                     '2013', '2014', '2015', '2016', '2017']

In [3]:
df_county

      GEO_id    2010    2011    2012    2013    2014    2015    2016    2017
0       1001   54750   55199   54927   54695   54864   54838   55278   55504
1       1003  183110  186534  190048  194736  199064  202863  207509  212628
2       1005   27332   27351   27175   26947   26749   26264   25774   25270
3       1007   22872   22745   22658   22503   22533   22561   22633   22668
4       1009   57381   57562   57595   57623   57546   57590   57562   58013
5       1011   10880   10675   10612   10549   10673   10419   10441   10309
6       1013   20944   20880   20688   20372   20327   20141   19965   19825
7       1015  118466  117785  117219  116482  115941  115505  114980  114728
8       1017   34122   34031   34092   34122   33948   33968   33717   33713
9       1019   25973   25993   25958   26014   25897   25741   25766   25857
10      1021   43661   43688   43601   43645   43779   43706   43830   44067
11      1023   13849   13607   13561   13396   13318   13231   13050   12945
12      1025   25765   25582   25152   25118   24865   24708   24350   24083
13      1027   13900   13688   13434   13406   13440   13414   13410   13367
14      1029   15004   14928   14889   14976   15026   14922   14873   14900
15      1031   50203   50434   51113   50647   50652   50974   51217   51874
16      1033   54525   54534   54569   54528   54461   54358   54327   54500
17      1035   13229   13187   13041   12908   12677   12678   12515   12469
18      1037   11782   11484   11347   11253   11034   10923   10809   10754
19      1039   37811   38017   37803   37811   37755   37550   37386   37092
20      1041   13875   13898   13916   13847   13852   13851   13907   13871
21      1043   80466   80411   80275   80674   81041   81721   82322   82755
22      1045   50392   50107   50287   49759   49409   49344   49228   49226
23      1047   43863   43256   42795   41981   41559   40939   40081   39215
24      1049   71169   71353   70944   70905   71034   71198   71216   71617
25      1051   79581   80006   80220   80555   80562   80912   81240   81677
26      1053   38346   38202   38028   37773   37740   37667   37476   37447
27      1055  104457  104354  104257  103865  103374  102942  102726  102755
28      1057   17231   17050   16944   16823   16768   16688   16538   16468
29      1059   31749   31767   31658   31504   31494   31467   31577   31495
...      ...     ...     ...     ...     ...     ...     ...     ...     ...
3112   55129   15934   15844   15850   15658   15651   15512   15610   15758
3113   55131  131985  132340  132742  132917  133570  133874  134372  135101
3114   55133  390013  390810  392669  393887  395078  395842  398225  400621
3115   55135   52395   52280   51910   52062   51929   51684   51354   51225
3116   55137   24514   24551   24422   24257   24112   23981   24132   24369
3117   55139  167064  167497  168545  169279  169295  169157  169555  170414
3118   55141   74812   74649   74322   73919   73578   73316   73196   73126
3119   56001   36433   36883   37332   37573   37793   38036   37987   38332
3120   56003   11667   11726   11765   11939   11859   11956   11941   11906
3121   56005   46233   46560   47861   48051   48192   49293   48800   46242
3122   56007   15849   15848   15732   15861   15907   15645   15727   15303
3123   56009   13821   13736   14025   14365   14219   14312   14127   13809
3124   56011    7119    7123    7141    7153    7245    7432    7497    7410
3125   56013   40195   40520   41022   40911   40573   40237   40245   39803
3126   56015   13422   13580   13642   13551   13544   13566   13355   13378
3127   56017    4809    4808    4833    4834    4789    4717    4669    4696
3128   56019    8587    8645    8637    8637    8584    8616    8496    8476
3129   56021   92219   92587   94704   95731   96123   97005   97968   98327
3130   56023   18094   18009   17938   18312   18567   18736   19076   19265
3131   56025   75456   76421   78583   81101   81439   82134   80892   79547
3132   56027    2491    2483    2476    2544    2489    2496    2470    2397
3133   56029   28248   28546   28933   29170   29119   29110   29412   29568
3134   56031    8664    8695    8730    8707    8776    8797    8675    8562
3135   56033   29123   29254   29528   29735   29888   29940   30049   30210
3136   56035   10254   10189   10481   10172   10155   10056   10002    9799
3137   56037   43569   44013   45042   45145   44981   44732   44245   43534
3138   56039   21295   21476   21709   22326   22817   23029   23180   23265
3139   56041   21093   20899   20999   20960   20845   20780   20711   20495
3140   56043    8537    8460    8421    8427    8288    8296    8188    8064
3141   56045    7198    7141    7074    7136    7142    7181    7198    6927

[3142 rows x 9 columns]

In [13]:
# Use pd.melt to transform wide dataframe into long dataframe.
# The population for each county and each year is recorded in a different row.
# This dataframe matches the structure of df_unemp_county.
long_county = df_county.columns[1:]
df_long_county = pd.melt(df_county, id_vars = 'GEO_id', value_vars = long_county)
df_long_county.columns = ['GEO_id', 'Year', 'Population']
df_long_county

       GEO_id  Year  Population
0        1001  2010       54750
1        1003  2010      183110
2        1005  2010       27332
3        1007  2010       22872
4        1009  2010       57381
5        1011  2010       10880
6        1013  2010       20944
7        1015  2010      118466
8        1017  2010       34122
9        1019  2010       25973
10       1021  2010       43661
11       1023  2010       13849
12       1025  2010       25765
13       1027  2010       13900
14       1029  2010       15004
15       1031  2010       50203
16       1033  2010       54525
17       1035  2010       13229
18       1037  2010       11782
19       1039  2010       37811
20       1041  2010       13875
21       1043  2010       80466
22       1045  2010       50392
23       1047  2010       43863
24       1049  2010       71169
25       1051  2010       79581
26       1053  2010       38346
27       1055  2010      104457
28       1057  2010       17231
29       1059  2010       31749
...       ...   ...         ...
25106   55129  2017       15758
25107   55131  2017      135101
25108   55133  2017      400621
25109   55135  2017       51225
25110   55137  2017       24369
25111   55139  2017      170414
25112   55141  2017       73126
25113   56001  2017       38332
25114   56003  2017       11906
25115   56005  2017       46242
25116   56007  2017       15303
25117   56009  2017       13809
25118   56011  2017        7410
25119   56013  2017       39803
25120   56015  2017       13378
25121   56017  2017        4696
25122   56019  2017        8476
25123   56021  2017       98327
25124   56023  2017       19265
25125   56025  2017       79547
25126   56027  2017        2397
25127   56029  2017       29568
25128   56031  2017        8562
25129   56033  2017       30210
25130   56035  2017        9799
25131   56037  2017       43534
25132   56039  2017       23265
25133   56041  2017       20495
25134   56043  2017        8064
25135   56045  2017        6927

[25136 rows x 3 columns]

In [9]:
# Columns to be merged need to be the same datatype. 
df_long_county['Year'] = df_long_county['Year'].apply(pd.to_numeric)
df_long_county.dtypes

GEO_id        int64
Year          int64
Population    int64
dtype: object

#### Combine Dataframes

In [24]:
# Merge the two dataframes where GEO_id and Year values match. 
# Depends on the matching structures and datatypes of the dataframes. 
# Adds the correct Population value to county unemployment data.
df_county_unemp = pd.merge(df_unemp_county, df_long_county, on=['GEO_id', 'Year'], how='inner')

In [25]:
df_county_unemp

                     GEO_Name  Year  Unemployment_Rate  GEO_id  Population
0          Autauga County, AL  2017                3.9    1001       55504
1          Baldwin County, AL  2017                4.0    1003      212628
2          Barbour County, AL  2017                5.9    1005       25270
3             Bibb County, AL  2017                4.4    1007       22668
4           Blount County, AL  2017                4.0    1009       58013
5          Bullock County, AL  2017                4.9    1011       10309
6           Butler County, AL  2017                5.5    1013       19825
7          Calhoun County, AL  2017                4.9    1015      114728
8         Chambers County, AL  2017                4.1    1017       33713
9         Cherokee County, AL  2017                4.1    1019       25857
10         Chilton County, AL  2017                4.0    1021       44067
11         Choctaw County, AL  2017                6.4    1023       12945
12          Clarke County, AL  2017                8.5    1025       24083
13            Clay County, AL  2017                4.4    1027       13367
14        Cleburne County, AL  2017                4.5    1029       14900
15          Coffee County, AL  2017                4.4    1031       51874
16         Colbert County, AL  2017                5.2    1033       54500
17         Conecuh County, AL  2017                6.1    1035       12469
18           Coosa County, AL  2017                4.6    1037       10754
19       Covington County, AL  2017                5.2    1039       37092
20        Crenshaw County, AL  2017                4.5    1041       13871
21         Cullman County, AL  2017                3.7    1043       82755
22            Dale County, AL  2017                4.4    1045       49226
23          Dallas County, AL  2017                7.5    1047       39215
24          DeKalb County, AL  2017                4.5    1049       71617
25          Elmore County, AL  2017                3.6    1051       81677
26        Escambia County, AL  2017                5.0    1053       37447
27          Etowah County, AL  2017                4.6    1055      102755
28         Fayette County, AL  2017                4.7    1057       16468
29        Franklin County, AL  2017                4.2    1059       31495
...                       ...   ...                ...     ...         ...
25098     Washburn County, WI  2014                6.2   55129       15651
25099   Washington County, WI  2014                4.5   55131      133570
25100     Waukesha County, WI  2014                4.4   55133      395078
25101      Waupaca County, WI  2014                5.7   55135       51929
25102     Waushara County, WI  2014                7.1   55137       24112
25103    Winnebago County, WI  2014                5.2   55139      169295
25104         Wood County, WI  2014                6.7   55141       73578
25105       Albany County, WY  2014                3.4   56001       37793
25106     Big Horn County, WY  2014                4.5   56003       11859
25107     Campbell County, WY  2014                3.3   56005       48192
25108       Carbon County, WY  2014                4.0   56007       15907
25109     Converse County, WY  2014                3.0   56009       14219
25110        Crook County, WY  2014                3.9   56011        7245
25111      Fremont County, WY  2014                5.0   56013       40573
25112       Goshen County, WY  2014                3.6   56015       13544
25113  Hot Springs County, WY  2014                4.1   56017        4789
25114      Johnson County, WY  2014                4.5   56019        8584
25115      Laramie County, WY  2014                4.3   56021       96123
25116      Lincoln County, WY  2014                5.1   56023       18567
25117      Natrona County, WY  2014                4.0   56025       81439
25118     Niobrara County, WY  2014                3.3   56027        2489
25119         Park County, WY  2014                4.5   56029       29119
25120       Platte County, WY  2014                3.8   56031        8776
25121     Sheridan County, WY  2014                4.6   56033       29888
25122     Sublette County, WY  2014                4.3   56035       10155
25123   Sweetwater County, WY  2014                4.0   56037       44981
25124        Teton County, WY  2014                4.6   56039       22817
25125        Uinta County, WY  2014                4.8   56041       20845
25126     Washakie County, WY  2014                4.3   56043        8288
25127       Weston County, WY  2014                3.3   56045        7142

[25128 rows x 5 columns]

In [27]:
# SQLite3 table name to be written to.
tbl2 = 'popUnemploymentCounty'

# Write pandas dataframe to SQL database.
# Do not write the index from the pandas dataframes as a column. Can change index=True to write the column.
# If the table already exists in the database, the table is replaced with the current data. Can change this value 'fail' or 'append'.
df_county_unemp.to_sql(tbl2, conn, if_exists='replace', index=False)